<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leaderboard</title>
  </head>
  <body>
    <h2>Ranking Table</h2>
    <!-- <form>
      <label for="username">Username</label>
      <input type="text" placeholder="Enter your username" id="username" />
      <label for="score">Score</label>
      <input type="number" placeholder="score" id="score" />
      <button type="submit">Submit</button>
    </form> -->
    <ol id="rank"></ol>
  </body>
  <script src="js/rank.js"></script>
</html>
