body {
    background-color: peachpuff;
    display: grid;
    align-items: center;
    justify-items: center;
    font-family: 'Handlee', cursive;
}

h1 {
    font-size: 3rem;
    margin: 0 auto;
}

h3 {
    font-size: 2rem;
}

form input {
    font-family: 'Handlee', cursive;
    padding: 1rem 2rem;
}

#result {
    margin: 2rem 0;
}